{% load static %}
<html lang="pl">
<head>
    <link type="text/css" rel="stylesheet" href="{% static 'css/main2.css' %}">
    <meta charset="UTF-8">
    <title>RASIA|{% block content %}{% endblock %}</title>
</head>
<body>
<div id="logo">
    <img src="{% static 'img/main_logo.png' %}" alt="logo">
    <h1>MEBLE NA WYMIAR</h1>
</div>

<div id="main-site-empty">

    <HR>
    <div class="button_container">
        <a href="#bottom">
            <button class="btn"><span>Kontakt</span></button>
        </a>
        <a href="{% url 'movies' %}">
            <button class="btn"><span>FILMY</span></button>
        </a>
        <!--<p class="link">
          Design by
          <a href="https://dribbble.com/skytrip" target="_blank">SkyTrip</a>
        </p>-->
    </div>
    {#    <a href="#bottom">Contacts</a>#}
</div>

<div id="link-images">

    <div class="linkImage">

        <a href="{% url 'kitchen' %}"> <img src="{% static 'img/oven.png' %}" alt="link"></a>
        <p>KUCHNIE</p>

    </div>

    <div class="linkImage">

        <a href="{% url 'bathroom' %}"> <img src="{% static 'img/bath.png' %}" alt="link"></a>
        <p>ŁAZIENKI</p>

    </div>

    <div class="linkImage">

        <a href="{% url 'closet' %}"> <img src="{% static 'img/closet.png' %}" alt="link"></a>
        <p>SZAFY</p>

    </div>

    <div class="linkImage">

        <a href="{% url 'beds' %}"> <img src="{% static 'img/bed.png' %}" alt="link"></a>
        <p>ŁÓŻKA</p>

    </div>

    <div class="linkImage">

        <a href="{% url 'other' %}"> <img src="{% static 'img/hammer.png' %}" alt="link"></a>
        <p>INNE</p>

    </div>

    <div class="linkImage">

        <a href="{% url 'from_back' %}"> <img src="{% static 'img/wood.png' %}" alt="link"></a>
        <p>ZAPLECZE</p>

    </div>
</div>
<div id="movies">
    {#    <div id="movieImage">#}
    {##}
    {#        <a href="{% url 'movies' %}"> <img src="{% static 'img/movie.png' %}" alt="link"></a>#}
    {#        <p>FILMY</p>#}
    {##}
    {#    </div>#}
    {#    <div class="button_container">#}
    {#        <a href="{% url 'movies' %}">#}
    {#            <button class="btn"><span>FILMY</span></button>#}
    {#        </a>#}
    {#        <!--<p class="link">#}
    {#          Design by#}
    {#          <a href="https://dribbble.com/skytrip" target="_blank">SkyTrip</a>#}
    {#        </p>-->#}
    {#    </div>#}
</div>
<HR>

<div id="contacts">
    <p id="bottom"> O NAS:<br>
        <img src="{% static 'img/logo_cont.png' %}" alt="contact">
        <br>Jesteśmy rodzinną firmą stolarską założoną z miłości do dobrej jakości wykonania i produktu.<br></p>

    <p> email: <br> <a href="mailto:rasia.nawymiar@gmail.com">rasia.nawymiar@gmail.com</a><br> Tel:<br>
        <a href="tel:506-744-568">506 774 568</a><br>Lokalizacja:<br> <a href="https://www.google.pl/maps/place/Osiedle+Bohater%C3%B3w+II+Wojny+%C5%9Awiatowej+38,+61-386+Pozna%C5%84-Nowe+Miasto/@52.381969,16.9489542,17z/data=!3m1!4b1!4m5!3m4!1s0x47045afe6e723ed3:0x9583fc7f49939097!8m2!3d52.381969!4d16.9511429">
            Poznań os. Bohaterów II Wojny Światowej 38</a></p>
</div>
</body>
</html>