{% load static %}

<html lang="pl">
<head>
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>main | </title>
</head>
<body>
<div id="logoContainer">
    <img src="{% static 'img/main_logo.png' %} " alt="logo">
</div>
<h1 class="title"> Meble na wymiar </h1>
<div id="contentContainer">
    <div class="pages-images">
        <a href={% url 'bathroom' %}> Łazienki </a>
        <a href={% url 'kitchen' %}> Kuchnie </a>
        <a href={% url 'closet' %}> Szafy </a>
        <a href={% url 'beds' %}> Łóżka </a>
        <a href={% url 'other' %}> Inne </a>
        <a href={% url 'movies' %}> Filmy </a>
        <a href={% url 'from_back' %}> Zaplecze </a>

    </div>
    <div id="contacts">
        <p> Bartosz Kowalczyk </p>
        <p> +48 506 774 568 </p>
        <p> rasia.nawymiar@gmail.com </p>
        <p> Poznań</p>
        <p> os. Bohaterów II Wojny Światowej 38</p>
    </div>
</div>
<div id="background" style="background-image: url('{% static "img/bcg.jpg" %}')"></div>

</body>
</html>